/* General Styles */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F4F8;
    color: #333;
}

/* Header */
header {
    background-color: #003366;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    z-index: 1000;
}

header > h1 {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
}

/* Containers */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructions {
    background-color: #E0E7F1;
    padding: 15px;
    border-left: 4px solid #003366;
    margin-bottom: 20px;
    font-size: 14px;
}

#infoPageButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

#infoPageButtons > button:last-child {
    position: absolute;
    right: 10px;
    top: 1.1em;
    border: 1px solid #6699CC;
    background-color: white;
    font-size: 0.8em;
    color: #6699CC;
    padding: 0.5em;
    margin: auto 0;
}

#infoPageButtons > button:last-child:hover {
    background-color: #6699CC;
    color: white;
}

/* Headings */
h2, h3 {
    color: #003366;
}

.section-title {
    font-size: 18px;
    color: #6699CC;
    margin-bottom: 10px;
}

/* Buttons */
button {
    display: block;
    background-color: #6699CC;
    margin: 10px auto;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0055A4;
}

/* Forms */
input[type="text"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #CCC;
    border-radius: 5px;
}

/* Question Cards */
.question-card {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #FAFAFA;
}

.question-card h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #003366;
}

.question-options {
    display: flex;
    justify-content: space-between;
}

.option-group {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Charts */

#report > p {
    margin: 10px 10px;
}

#reportTitleSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    margin: 5px 10px;
}

#report-title {
    display: inline-block;
    margin: 0;
}

#downloadButtons {
    display: flex;
    justify-content: space-around;

}

#downloadButtons button {
    margin: 2em 1em;
    padding: 0.5em 0.5em;
    font-size: 0.8em;
}

#downloadButtons button:disabled {
    background-color: gray;
    cursor: not-allowed;
    font-size: 0.8em;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.chart-wrapper {
    background: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(45% - 10px); /* Two charts per row on large screens */
    text-align: center;
}

.comparison-chart {
    width: 50%; /* Comparison chart takes half width */
}

canvas {
    max-width: 100%;
    height: auto;
}

/* Lists */
ul {
    padding-left: 20px;
}

/* Footer */
footer p {
    text-align: center;
}

/* Hide the button */
button.hidden {
    visibility: hidden; /* Hides the button but keeps its space on the page */
    pointer-events: none; /* Prevents clicks */
}

/* Responsive Design */
@media (max-width: 768px) {
    .chart-wrapper {
        width: 90%; /* Full width on small screens */
    }

    header > h1 {
        font-size: 1em;
    }

    .chart-container h3 {
        font-size: 0.8em;
    }
}

@media (max-width: 490px) {
    #infoPageButtons {
        height: 6em;
    }

    #infoPageButtons > button:first-child {
        height: 2.5em;
    }

    #infoPageButtons > button:last-child {
        top: 5em;
        left: auto;
        right: auto;
    }
}
